@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@100&family=Roboto:wght@100&family=Rowdies:wght@300&display=swap');
* {
    margin: 0;
    padding:0;
    /* box-sizing: border-box; */
    border:0;
  }
    
  body {
    background-color:rgb(247, 237, 237);
    /* font-family: 'DynaPuff', cursive; */
    /* font-size:32px; */
    /* text-align:left;   */
    /* padding:3px; */
    width:100%;
    font-family: 'Rowdies', cursive;
    font-size:14px;
  }

   #formulario {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    /* background-color: rgb(27, 152, 69); */
    /* width: 60%;  */
    /* margin-left: 3px; */
    /* padding: 45px 15px; */
     /* height: 40px;  */
  }
  
  .campo {
    /* background-color: aqua; */
    padding: 0%;
    width: 65%;
    float:left;
    color: #c0c0c0;

  }

  .campo input {
    border-radius:5px;
    padding-left: 0%;
 
    /* padding: 8px 1%; */
    width:70%;   
  }
  
   .campo label {
    color:rgb(248, 246, 246);
    padding: 5px;
    width: 94%; 
   
  } 

.cab{
  display:inline-flex;
  background-color: rgb(69,106,65);
  padding-left:3px;
  padding-top:3px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  width:98%;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center; 
}

  .title{
    color:rgb(253,254,254);
    text-shadow: aliceblue;
    font-size: 3rem;
    text-align: center;
    text-align: center;
    font-size: 3rem;
    align-items: center;
    justify-content: space-between;
  }
  .image{
    width:15% 15%;
   
    padding-left: 3px;
  }

  
  .converter{
    background-color: rgb(27, 152, 69);
    padding-left:5px;
    padding-bottom: 3px;
    /* height: auto; */
    margin-bottom: 10px;
    width:98%;


  }
    
  .prec{
    background-color: rgb(248, 249, 249);
    font-size: 16px;
    width:25%;
    height: 40px;
    border:1px darkgreen solid;
    text-align: center;
    margin-bottom: 20px;
  }

  span{
    color:white;
  }

  .labcon{
    width:120px;
    color:white;
    font-size: 20px;
    text-align: justify;
    border-radius: 3px;
    padding-bottom: 3px; 
    padding-left:2px; 
    
  }

  input{
  
    border-radius:5px;
    background-color: rgb(248, 249, 249);
    font-size: 16px;
    width:65%;
    height: 40px;
    border:1px darkgreen solid;
    text-align: center;  
  }

  .select{
    border-radius:5px;
    width:20%;
    height: 40px;
    border:1px rgb(28, 22, 22) solid;
    font-size: 16px;
  }
  
/* ========================================================================== */
/* -------------------Display responsiove celular--------------------------- */
/* ========================================================================== */
@media screen and (max-width:600px)  {
  .cab{
    display:inline-flex;
    background-color: rgb(50, 90, 2);
    margin-bottom: 10px;
    width:98%;
    height: auto;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
      
  }
  .campo {
    /* background-color: aqua; */
    padding: 0%;
    width: 55%;
    float:left;
    color: #c0c0c0;

  }

  .title{
    color:rgb(253,254,254);
    font-size:2rem;
    text-align: center;
    text-align: center;
    flex-wrap:wrap;
    justify-content: space-between;
    
  }}

  @media screen and (max-width:330px)  {
    .cab{
      display:inline-flex;
      background-color: rgb(50, 90, 2);
      margin-bottom: 10px;
      width:98%;
      height: auto;
      flex-wrap:wrap;
      justify-content: space-between;
      align-items: center;
        
    }
  
    .title{
      color:rgb(253,254,254);
      font-size:1.3rem;
      flex-wrap:wrap;
      justify-content: space-between;
   
      
    }
    .campo {
      /* background-color: aqua; */
      padding: 0;
      width: 60%;
      float:left;
      color: #c0c0c0;
      font-size:16px;
  
    }

    .campo input {
      margin-top:3px;
      padding-left: 0%;
      
      /* padding: 8px 1%; */
      width:88%;
    }
    
     .campo label {
      font-size: 1rem;
      margin: 10px 1%;
      padding: 8px 1%;
      width: 80%;

    } 
    .select{
      
      width:30%;
      height: 40px;
      border:1px rgb(28, 22, 22) solid;
      font-size: 12px;
    }
  }
  @media screen and (max-width:420px)  {
    .cab{
      display:inline-flex;
      background-color: rgb(50, 90, 2);
      margin-bottom: 10px;
      width:98%;
      height: auto;
      flex-wrap:wrap;
      justify-content: space-between;
      align-items: center;
        
    }
  
    .title{
      color:rgb(253,254,254);
      font-size:1.3rem;
      flex-wrap:wrap;
      justify-content: space-between;
   
      
    }
    .campo {
      /* background-color: aqua; */
      padding: 0;
      width: 60%;
      float:left;
      color: #c0c0c0;
      font-size:16px;
  
    }

    .campo input {
      margin-top:3px;
      padding-left: 0%;
      
      /* padding: 8px 1%; */
      width:88%;
    }
    
     .campo label {
      font-size: 0.8rem;
      margin: 10px 1%;
      padding: 8px 1%;
      width: 80%;
    
    } 
    .select{
      
      width:30%;
      height: 40px;
      border:1px rgb(28, 22, 22) solid;
      font-size: 12px;
    }
  }

 
