@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@100&family=Roboto:wght@100&family=Rowdies:wght@300&display=swap');
* {
    margin: 0;
    padding:0;
    /* box-sizing: border-box; */
    border:0;
  }
    
  body {
    background-color:rgb(247, 237, 237);
    /* font-family: 'DynaPuff', cursive; */
    /* font-size:32px; */
    /* text-align:left;   */
    padding:10px;
    width:100%;
    font-family: 'Rowdies', cursive;
    font-size:14px;
  }


.cab{
  display:inline-flex;
  background-color: rgb(50, 90, 2);
  padding-left:3px;
  padding-top:3px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  width:98%;
  
}

  .title{
    color:rgb(221, 191, 126);
    font-size: 3rem;
    text-align: center;
    padding-left: 20%; 
    text-align: center;
    font-size: 3rem;
    align-items: center;
    
  }
  .image{
    width:15% 15%;
   
    padding-left: 3px;
  }

  
  .converter{
    background-color: rgb(27, 152, 69);
    padding-left:5px;
    padding-bottom: 3px;
    /* height: auto; */
    margin-bottom: 10px;
    width:98%;


  }
    
  .lab1 {
    color:rgb(248, 246, 246);
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    padding-bottom: 3px;
  
  }

  .prec{
    background-color: rgb(248, 249, 249);
    font-size: 16px;
    width:25%;
    height: 25px;
    border:1px darkgreen solid;
    text-align: center;

  }

  span{
    color:white;
  }

  .labcon{
    width:120px;
    color:rgb(255,0,0);
    font-size: 22px;
    text-align: justify;

    border-radius: 3px;
    padding-bottom: 3px;  
  }

  input{
    background-color: rgb(248, 249, 249);
    font-size: 16px;
    width:45%;
    height: 30px;
    border:1px darkgreen solid;
    text-align: center;
  }
  .sel2{
    width:45%;
    height: 30px;
    border:1px rgb(28, 22, 22) solid;
    font-size: 16px;
  }
  
/* ========================================================================== */
/* -------------------Display responsiove celular--------------------------- */
/* ========================================================================== */
@media screen and (max-width:600px)  {
  .cab{
    display:inline-flex;
    background-color: rgb(50, 90, 2);
    margin-bottom: 10px;
    width:98%;
    height: auto;
    text-align: center;
      
  }

  .title{
    color:rgb(221, 191, 126);
    font-size:2rem;
    text-align: center;
    padding-left: 20%; 
    text-align: center;
    align-items: center;
  }}

  @media screen and (max-width:400px)  {
    .cab{
      display:inline-flex;
      background-color: rgb(50, 90, 2);
      margin-bottom: 10px;
      width:98%;
      height: auto;
      text-align: center;
      align-items: center;
        
    }
  
    .title{
      color:rgb(221, 191, 126);
      font-size:1rem;
      text-align: center;
      padding-left: 20%; 
      text-align: center;
    }}
