@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@100&family=Roboto:wght@100&family=Rowdies:wght@300&display=swap');
* {
    margin: 0;
    padding:0;
    /* box-sizing: border-box; */
    border:0;
  }
    
  body {
    background-color:rgb(247, 237, 237);
    /* font-family: 'DynaPuff', cursive; */
    /* font-size:32px; */
    text-align:left;  
    padding:10px;
    width:100;
    font-family: 'Rowdies', cursive;
  }


.cab{
  display:inline-flex;
  background-color: rgb(50, 90, 2);
  padding-left:3px;
  padding-top:3px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  width:100%;
  height: auto;
  /* text-align: center; */
  align-items: center;
  
}

  .title{
    /* background-color: black; */
    color:rgb(221, 191, 126);
    font-size: 25px;
    text-align: center;
    padding-left: 25px; 
  }
  .image{
    /* width:15%; */
    padding-left: 3px;
  }

  .converter{
    background-color: rgb(27, 152, 69);
    padding-left:5px;
    padding-bottom: 3px;
    height: auto;
    margin-bottom: 10px;
    width:100%;

  }
    
  .lab1 {
    color:rgb(248, 246, 246);
    font-size: 0.8rem;
    text-align: center;
    border-radius: 3px; 
    padding-top: 3px; 
   }

  .lab2{
    width:120px;
    color:rgb(230, 182, 92);
    font-size: 1.1rem;
    text-align: center;
    border-radius: 3px;
    padding-top: 3px; 
    
  }

  span{
    color:white;
  }

  .prec{
    background-color: rgb(248, 249, 249);
    font-size: 13px;
    width:150px;
    height: 30px;
    border:1px darkgreen solid;
    text-align: center;

  }

  .sel2{
    width:150px;
    height: 40px;
    border:1px rgb(28, 22, 22) solid
  }

  input{
    background-color: rgb(248, 249, 249);
    font-size: 13px;
    width:170px;
    height: 40px;
    border:1px darkgreen solid;
    text-align: center;
  }

  
/* ========================================================================== */
/* -------------------Display responsiove celular--------------------------- */
/* ========================================================================== */
@media screen and (max-width: 300px) {

  .title{
    /* background-color: black; */
    color:rgb(221, 191, 126);
    font-size: 17px;
    text-align: center;
    padding-left: 25px; 
  }
  
  .image{
    width:15%;
    padding-left: 3px;
  }

  .converter{
    background-color: rgb(27, 152, 69);
    padding-left:5px;
    padding-bottom: 3px;
    /* height: auto; */
    margin-bottom: 10px;
    width:100%;

  }
    
  .lab1 {
    color:rgb(248, 246, 246);
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    padding-bottom: 3px;
  
  }

  .lab2{
    width:120px;
    color:rgb(230, 182, 92);
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    padding-bottom: 3px;  
  }

  span{
    color:white;
  }

  .sel2{
    width:80px;
    height: 30px;
    border:1px rgb(28, 22, 22) solid;
    font-size: 10px;
  }

  .prec{
    background-color: rgb(248, 249, 249);
    font-size: 10px;
    width:80px;
    height: 20px;
    border:1px darkgreen solid;
    text-align: center;

  }
  input{
    background-color: rgb(248, 249, 249);
    font-size: 10px;
    width:90px;
    height: 30px;
    border:1px darkgreen solid;
    text-align: center;
  }



}
